@import '../../assets/_styleVariables.css';

.modalInfo__bg {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 12;
}
.modalInfo__frame {
  width: 40%;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 5px var(--color-shadow);
  border-top: 2px solid var(--color-top);
  border-left: 2px solid var(--color-top);
  border-bottom: 2px solid var(--color-bottom);
  border-right: 2px solid var(--color-bottom);
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
